@import 'variaveis/variaveis';
@import "layout/header";
@import "layout/home";
@import "layout/sobre";
@import "layout/contato";
@import "component/c-button";
@import "component/c-card";
@import "component/c-menu";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

/* ===KEYFRAMES=== */
@keyframes flutuando{
     0%{
        transform: translate(0px, 0px);
     }
     50%{
        transform: translate(0px, -15px);
     }
     100%{
        transform: translate(0px, 0px);
     }
}

// ===== MEDIA QUERY =====
@media (max-width: 1120px){
   .left, .right {
       float: none;
       margin: 0 50px 0 50px;
       
   }

   .sobre-content{
       justify-content: center;
       align-items: center;
   }
   
   .sobre{
       height: 129vh;
   }
}