@import 'variaveis/variaveis';
@import "layout/header";
@import "layout/home";
@import "layout/sobre";
@import "layout/habilidades";
@import "layout/projetos";
@import "layout/contato";
@import "component/c-button";
@import "component/c-card";
@import "component/c-menu";




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

/* ===KEYFRAMES=== */
@keyframes flutuando{
     0%{
        transform: translate(0px, 0px);
     }
     50%{
        transform: translate(0px, -15px);
     }
     100%{
        transform: translate(0px, 0px);
     }
}

// ===== MEDIA QUERY =====
@media (max-width: 1120px){
   .sobre{
       height: 129vh;
   }
}

@media(max-width: 1799px){
    .projetos{
        height: 200vh;
    }
}

@media (max-width:1199px) {
    .projetos{
        height: 250vh;
    }
}