$layout-name: "navegacao-principal";

.#{$layout-name} {
    .menu-fixo{
        position: fixed;
        width: 100%;
        height: 10vh;
        z-index: 2;

        .navegacao-container{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 10vh;
            background: #2a1421;
            color: white;

            .navegacao-container-foto{
                height: 55px;
                border-radius: 40px;
                margin-right: 15vw;
                font-size: 20pt;

                &:hover{
                    transform: rotate(360deg);
                    transition: 1s;
                    cursor: pointer;
                    }
                }

            .nave-intens{
                display: flex;
                flex-direction: row;

                    li{
                        margin-left: 30px;
                        font-size: 17pt;
                    
                        &:hover{
                            border-bottom: 5px solid deepskyblue;
                    }
                }
             }
        }
    }
}