$layout-name: "home";

.#{$layout-name} {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../../imgs/raverna.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #040109;

    .btn{

        background: transparent ;
        height: 40px;
        width: 140px;
        border: 1px solid white;
        box-shadow: #0d1c4a;
        font-family: 'Sarala', sans-serif;
        font-size: 24px;
        font-weight: 400px;
        color: azure;
        transform: translateY(-100px);

        &:hover{
        background: #16005c;
        transition: 0,5s;

            }
        }    
        .fa-angle-down{
            font-size: 60pt;
            color: white;
            transform: translate(-100px, -20px);
            animation: flutuando 2s ease-in-out infinite;
            }   
}


// ===== MEDIA QUERY =====
@media (max-width: 1120px){
    .left, .right {
        float: none;
        margin: 0 50px 0 50px;
        
    }

    .sobre-content{
        justify-content: center;
        align-items: center;
    }
    
    .sobre{
        height: 129vh;
    }
}