$layout-name: "projetos";

.#{$layout-name}{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    flex-direction: column;
    
    .projetos-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;

    .projetos-img1{
        background-image: url(/imgs//motinha.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        object-fit: cover;
    }

  .projetos-img2{
        background-image: url(../../imgs/Progamação.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        filter: grayscale(100%);
        transition: 0.5s all ease-out;
        object-fit: cover;

        &:hover{
            filter: grayscale(0%);
            background-size: 110%;
            transition: 1s ease;
        }
    }
    
    .projetos-img3{  
        background-image: url(../../imgs/Edtitor.web.jpg);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        object-fit: cover;
    }

    .projetos-card{
        width: 550px;
        height: 450px;
        border:  black 2px  solid;
        background-color: gray;
        margin: 50px 50px 50px 50px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-radius: 8px;
        transition: 0.5s;

        &:hover  .projetos-card-btn{
            transform: scale(1.1);
            transition: 0.5s all ease-in-out;
            
        }
  
    .projetos-card-btn{
        width: 90px;
        padding: 8px;
        margin-bottom: 25px;
        background-color: white;
        cursor: pointer;
        background: none;
        border:  black 1.5px solid;
        color:  white;
        transition: 0.5s;
        border-radius: 200rem;

        &:hover{
           background-color: black;
           color: white;
         }
       }
      }
   }
}