$layout-name: "sobre";

.#{$layout-name} {
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

        .sobre-content{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            color: white;
            justify-content: space-around;
            flex-direction: row;

            .sobre-card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 500px;
                margin:  2.5rem 2.5rem 0 2.5rem;

                img{
                    height: 200px;
                    width: 50%;
                    border-radius: 50%;
                }

                p{
                    margin: 2.5rem 0 5rem 0 ;
                    font-family: 'Kdam Thmor Pro', sans-serif;
                    margin-top: 2.5rem;
                }

                h2{
                    font-family: 'Kdam Thmor Pro', sans-serif;
                    margin-top: 2.5rem;
                }
            }
            
        }
    }
